body{
    background-color: hsl(0, 0%, 95%);
}

main{
    width: 356px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

div{
    padding: 50px;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#suvs{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1{
    font-family: 'Big Shoulders Display', cursive; 
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
}

p, button{
    font-family: 'Lexend Deca', sans-serif;
}

h1, img, p{
    margin-bottom: 25px;
    margin-top: 0;
}

p{
    color : hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    letter-spacing: 1px
}

button{
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    border: 0;
    font-size: medium;
    cursor: pointer;
}

#sedans button{
    color: hsl(31, 77%, 52%);
}

#suvs button{
    color: hsl(184, 100%, 22%);
}

#luxury button{
    color: hsl(179, 100%, 13%);
}

#sedans button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
}

#suvs button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
}

#luxury button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
}